{{ form_start(form) }}
    <div class="full-width">
        {{ form_label(form.name) }}
        {{ form_widget(form.name) }}
    </div>

    <button class="btn full-width">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
